
# macOS
.DS_Store
**/.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
*.log
*.tmp
*.orig

# Packaging / build artifacts
build/
dist/
pip-wheel-metadata/
*.spec
temp-dmg-*
*.dmg

# Virtual envs
.venv/
venv/

# IDE
.vscode/
.idea/
